body {
    background-color: #f5f5f5 !important;
}

/* ================================================
      S  _  I  _  D  _  E _  B  _  A  _  R
     =============================================== */
#sidebar{
    transition: 5s ease-in-out;
}
/* ================================================
      N  _  A  _  V  _  B  _  A  _  R
     =============================================== */

#sidebar #toggleSidebar .bi-toggle2-off{
    color: #d45151;
}
#navbar #toggle .bi-toggle2-on{
    color: #51d4b8;
}
#navbar-input {
    outline: none !important;
    width: 70%;
    /* background-color: #f5f5f5; */

    background-color: #fff;

}

/* ================================================
      H  _  O  _  M  _  E
   =============================================== */
#home #bgLineIcon1 {
    background-color: #ffe3e3;
}

#home #bgLineIcon2 {
    background-color: #d0ebff;
}

#home #line .myLine {
    min-height: 120px;
}

#home .rejected,
#home #line .rejected,
#home #line #rejected {
    color: #d45151;
}

#home #line #rejected,
#home #line #noRejected {
    font-size: 25px;
}
@media screen and (max-width: 1516px) {
    /* ================================================
          S  _  I  _  D  _  E _  B  _  A  _  R
       =============================================== */ 
    #template{
        position: relative;
    }
    /* #template  #sidebarContainer{
        width: 27%;
    }
    #template #navbarContainer{
        width: 73%
    }   */
}
@media screen and (max-width: 1000px) {
    /* ================================================
          S  _  I  _  D  _  E _  B  _  A  _  R
       =============================================== */ 
    #template{
        position: relative;
    }
    #template  #sidebarContainer{
        width: 27%;
    }
    #template #navbarContainer{
        width: 73%
    }  
}
@media screen and (max-width: 992px) {
/* ================================================
      H  _  O  _  M  _  E
   =============================================== */ 
    #home #line #lineCompWithBtn button {
        padding: 10px 20px !important;
    }  
}
@media screen and (max-width: 938px) {
    /* ================================================
          S  _  I  _  D  _  E _  B  _  A  _  R
       =============================================== */ 
    #sidebar ul li{
        font-size: 1rem !important;
    }  
}
@media screen and (min-width: 860px) {
    #navbar #toggle button,
    #sidebar #toggleSidebar button{
        display: none;
    }
}
@media screen and (max-width: 860px) {
    /* ================================================
          S  _  I  _  D  _  E _  B  _  A  _  R
       =============================================== */ 
    #template{
        position: relative;
    }
    #template  #sidebarContainer{
        position: fixed !important;
        z-index: 10;
        width: 80%;
    }
    #template #navbarContainer{
        position: inherit;
        z-index: 5;
        width: 100%;
    }
}

