body{
    background-color: #f5f5f5 !important;
  }
  /* ================================================
      N  _  A  _  V  _  B  _  A  _  R
     =============================================== */   
  #navbar-input{
    outline: none !important ;
    width: 70%;
    /* background-color: #f5f5f5; */

        background-color: #fff;

  }
   
  /* ================================================
      H  _  O  _  M  _  E
     =============================================== */      
#bgLineIcon1{
    background-color: #ffe3e3;
} 
#bgLineIcon2{
    background-color: #d0ebff;
}