#img1,#img2,#img3,#img4,#img5{

    margin : 0 20px;
  }
  #list1{
    background-color: black;
    color:white;
    border-radius: 10px;
    width: 90%;
  }
  .doing{
    width: 90%;
    margin: 0 auto;
    background-color: #FFF9DB;
  }
  .X{
    left: 260px;
    top: 0px;
  }
  .card{
   min-height:570px;
    
  }
  #body{
    background-color: #f5f5f5 !important;
  }

  @media screen and (max-width:860px){

    .X{
      left: 360px;
      top: 0px;
    }
  }
  
