#img1,#img2,#img3,#img4,#img5{

    margin : 0 20px;
  }
  #list1{
    background-color: black;
    color:white;
 
  }
  .doing{
    width: 95%;
    margin: 0 auto;
    background-color: #FFF9DB;
  }
  .old{
    height: 100%;
  }
  .card{
   min-height:590px;
    
  }
  #body{
    background-color: #f5f5f5 !important;
  }
  @media screen and (max-width:996px){

    .doing{
      width: 80%;
      margin: 0 auto;
      background-color: #FFF9DB;
    }
  }

  
